/* ==========================================================================
Custom styles
========================================================================== */
$accent-color: hsla(158.96, 50.32%, 70%, 1);

body {
    background-color: #303030;
    font-family: 'Cormorant Garamond', serif;
    color: white
}


