/* ==========================================================================
Custom styles
========================================================================== */
body {
    background-color: #303030;
    font-family: 'Cormorant Garamond', serif;
    color: white
}


